.card-holder.row {
  margin-left: -10px;
  margin-right: -10px;
}

.card-holder .col-md-4 {
  padding-left: 10px;
  padding-right: 10px;

}

.user-card {
  position: relative;
  padding: 20px;
  background: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 4px;
  margin-bottom: 20px;
}

.user-card .avatar {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0,0,0, .05);
  overflow: hidden;
  flex: 0 0 100px;
}

.user-card .card-details {
  padding-left: 15px;
}

.user-card h5 {
  font-weight: bold;
}

.modal {
  display: block;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  background: rgba(0,0,0, .4);
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal .modal-header {
  border-bottom: 0;
}

.user-details  {
  position: relative;
  padding: 0 20px 30px;
}
.user-details .basic-info {
  display: flex;
}
.user-details .basic-info .avatar {
  width: 150px;
  height: 150px;
  flex: 0 0 150px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0,0,0, .05);
}

.user-details .basic-info .details {
  padding-left: 20px;
}

.repos h4 {
  font-weight: bold;
}


.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
